name: Windows Server 2022

on: 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    runs-on: windows-latest
    
    strategy: 
      matrix:
        mode: [Debug]
        arch: [x64]
    
    env: 
      CXX: cl.exe
      CC: cl.exe
    
    steps:
      - name: check out
        uses: actions/checkout@v3
        
      - name: generate project
        run: cmake -B ${{ github.workspace }}/build -DCMAKE_BUILD_TYPE=${{ matrix.mode }} -A${{ matrix.arch }}
        
      - name: build iguana
        run: cmake --build ${{ github.workspace }}
